div#conteudo {
                position: absolute;
                top: 53%;
                left: 16.5%;
                width: 59.2%;
}
header {
        text-align: center;
        font-family: Tahoma;
        font-size: 210%;
        font-weight: 100;
}
h1 {
	font-size: 105%;
    text-align: center;
}
p {
    font-size: 113%;
}
img#samsungs6 {
				position:absolute;
				top: 95%;
				left:41%;
				text-align:center;
				}
p#conteudo2 {
				position:absolute;
				text-align:center;
				top: 159%;
				width: 59.2%;
				left:16.5%;
				}
iframe {
		position:absolute;
		top: 224%;
		left:16.5%;
		}				
div#imagem2 {
    position: absolute;
    top: 9%;
    left: 105%;
}
footer#artigo {
		position: absolute;
		top: 301.5%;
		left: 15%;
        font-family: courier;
}
div#rodape {
                border-top: groove gray;
                width: 99%;
                position: absolute;
                top:311.5%;
                color: gray;
}
a#fale {
		color:gray;
		text-decoration:none;
		}
a#fale:hover {
		color: black;
}
footer#rodape1 {
                position: absolute;
                top: 270%;
                font-size: 90%;
                font-family: sans-serif;
}
footer#rodape2 {
				text-align: right;
                position: absolute;
                top: 270%;
                left: 67%;
                font-size: 90%;
                font-family: sans-serif;
}